header{
    >h1{
        color: white;
        background-color: lightgray;
        width: 150px;
        text-align: center;
        padding: 10px 0px;
    }
    li{
        list-style: none;
    }

}